@tailwind base;
@tailwind components;
@tailwind utilities;

.background-pomodoro {
  background-image: linear-gradient(135deg, rgb(237, 136, 124) 0%, rgb(143, 49, 37) 100%);
}

.background-short-break {
  background-image: linear-gradient(135deg, rgb(159, 171, 255) 0%, rgb(80, 59, 240) 100%);
}

.background-long-break {
  background-image: linear-gradient(135deg, rgb(64, 193, 188) 0%, rgb(27, 105, 106) 100%);
}

.button-pomodoro {
  background-color:  #cd4535;
}

.button-pomodoro:hover {
  background-color: #b63a2b;
}

.button-short-break {
  background-color: #605afa;
}

.button-short-break:hover {
  background-color: #503bf0;
}

.button-long-break {
  background-color: #2bb6b3;
}

.button-long-break:hover {
  background-color: #1d8484;
}
