@tailwind base;
@tailwind components;
@tailwind utilities;


.button-pomodoro {
  background-color:  #cd4535;
}

.button-pomodoro:hover {
  background-color: #b63a2b;
}

.button-short-break {
  background-color: #605afa;
}

.button-short-break:hover {
  background-color: #503bf0;
}

.button-long-break {
  background-color: #2bb6b3;
}

.button-long-break:hover {
  background-color: #1d8484;
}

.button-pomodoro-play:active {
  transform: scale(0.95);
}

.neon {
    /*filter: drop-shadow(0 0 3px #cd4535)drop-shadow(0 0 15px #cd4535);*/
  /*-webkit-text-stroke: 2px#cd4535;*/
/*
*  text-shadow:
          0 0 5px #fff,
          0 0 10px #fff,
          0 0 20px #fff,
          0 0 40px #cd4535,
          0 0 80px #cd4535
 */
}
