@tailwind base;
@tailwind components;
@tailwind utilities;


.button-pomodoro {
  background-color:  #cd4535;
}

.button-pomodoro:hover {
  background-color: #b63a2b;
}

.button-short-break {
  background-color: #605afa;
}

.button-short-break:hover {
  background-color: #503bf0;
}

.button-long-break {
  background-color: #2bb6b3;
}

.button-long-break:hover {
  background-color: #1d8484;
}

.button-pomodoro-play:active {
  transform: scale(0.95);
}
